@import "compass/css3/transition";
@import "compass/css3/animation";

ul.step-list div.title a {
    font-size: 18px;
    width: 350px;
    display: inline-block;
}

ul.step-list div.ingredients div {
    padding: 0px 0px 0px 20px;
}

ul.step-list div.ingredients div li.dummy {
    width: 200px;
    cursor:pointer;
    
    border: 1px #aaaaaa dashed;
    background-color: #efefef;
    margin: 1px;

    padding: 5px;

    color: #aaaaaa;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration: inherit;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.step {
    width: 400px;
    margin:10px;

    border: 1px #728ae9 solid;

    background-color: #f5faff;

    padding: 18px;

    color: #002157;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration: inherit;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    -moz-box-shadow: 3px -3px 10px 0px #959ba3;
    -webkit-box-shadow: 3px -3px 10px 0px #959ba3;
    box-shadow: 3px -3px 10px 0px #959ba3;
}


div.dummy-step {
    width: 400px;
    height: 127px;
    margin:10px;
    cursor:pointer;
    
    border: 2px #aaaaaa dashed;
    background-color: #efefef;

    padding: 18px;

    color: #aaaaaa;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration: inherit;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    -moz-box-shadow: 0px 0px 10px 0px #333333;
    -webkit-box-shadow: 0px 0px 10px 0px #333333;
    box-shadow: 0px 0px 10px 0px #333333;
}

div.dummy-step:hover {
    border: 4px #728ae9 dashed;
    margin:8px;
    text-align: center;
    padding-top: 45px;
    font-size: 18px;
    color: #728ae9;
    font-weight: bold;
}

div.step span.close-button {
    position: relative;
    top: -40px;
    right: -352px;
}

ul.step-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


ul.step-list div.ingredients div li.dummy:hover {
    border: 2px #728ae9 dashed;
    margin: 0px;
    text-align: center;
    color: #728ae9;
    font-weight: bold;
}

ul.step-list {
    display:inline-block;
}

ul.step-list label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

div.step-list {
    display:inline-block;
    margin: 0px 0px 0px 50px;
}

ul.step-list li.ng-enter,ul.step-list li.ng-leave {
    @include animation-duration(1s);
    @include animation-fill-mode(both);
}

ul.step-list li.ng-enter {
    @include animation-name(zoomIn);
}

ul.step-list li.ng-leave {
    @include animation-name(zoomOut);
}