div.section {
    display:inline-block;
    vertical-align: top;
    margin: 0px 20px 0px 20px;
}

div.vertical-bar {
}

.input-group {
    margin-bottom:10px;
}

.clickable {
    cursor:pointer;
}

textarea.export {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #aaaaaa;
    resize:none;
}

div.subsection {
    font-size: 32px;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#ffffff));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.recipe-header ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

div.recipe-header {
    display:inline-block;
    width: 300px;
    vertical-align: top;
    margin: 10px 10px 10px 60px;
    
    border: 1px #3bac3f solid;

    background-color: #f4fcf2;

    padding: 18px;

    color: #005711;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration: inherit;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    -moz-box-shadow: 3px -3px 10px 0px #959ba3;
    -webkit-box-shadow: 3px -3px 10px 0px #959ba3;
    box-shadow: 3px -3px 10px 0px #959ba3;
}




span.close-button,span.suppr-button {
    display:inline-block;
    background: url('img/icon-close.png') no-repeat;
    width:24px;
    height:24px;
    cursor:pointer;
    
}

span.close-button:hover,span.suppr-button:hover {
    background-position: 100%;
}

span.reduce-button {
    display:inline-block;
    background: url('img/icon-reduce.png') no-repeat;
    width:24px;
    height:24px;
    cursor:pointer;
    
}

span.reduce-button:hover {
    background-position: 100%;
}

span.expand-button {
    display:inline-block;
    background: url('img/icon-expand.png') no-repeat;
    width:24px;
    height:24px;
    cursor:pointer;
    
}

span.expand-button:hover {
    background-position: 100%;
}

span.ingredient {
    width: 270px;
    display: inline-block;
}

span.save-button {
    display:inline-block;
    background: url('img/icon-save.png') no-repeat;
    width:24px;
    height:24px;
    cursor:pointer;
    
}

span.save-button:hover {
    background-position: 100%;
}

div.recipe-header span.save-button {
    position: relative;
    top: -15px;
    right: -254px;
}

span.open-file-button {
    display:inline-block;
    background: url('img/icon-open-file.png') no-repeat;
    width:24px;
    height:24px;
    cursor:pointer;
    
}

span.open-file-button:hover {
    background-position: 100%;
}

div.recipe-header span.open-file-button {
    position: relative;
    top: -15px;
    right: -200px;
}   

span.new-button {
    display:inline-block;
    background: url('img/icon-new.png') no-repeat;
    width:24px;
    height:24px;
    cursor:pointer;
    
}

span.new-button:hover {
    background-position: 100%;
}

div.recipe-header span.new-button {
    position: relative;
    top: -15px;
    right: -146px;
}

span.clone-button {
    display:inline-block;
    background: url('img/icon-clone.png') no-repeat;
    width:24px;
    height:24px;
    cursor:pointer;
    
}

span.clone-button:hover {
    background-position: 100%;
}

div.recipe-header span.clone-button {
    position: relative;
    top: -15px;
    right: -92px;
}

span.delete-button {
    display:inline-block;
    background: url('img/icon-delete.png') no-repeat;
    width:24px;
    height:24px;
    cursor:pointer;
    
}

span.delete-button:hover {
    background-position: 100%;
}

div.recipe-header span.delete-button {
    position: relative;
    top: -15px;
    right: -38px;
}

li.file-to-open {
    cursor:pointer;
}

ul.file-list li {
    background: url('img/icon-file.png') no-repeat left top;
    padding: 3px 0px 3px 10px;
    padding-left: 40px;
    list-style: none;
    margin: 0;
    color: #888888;
}

ul.file-list li:hover {
    color: blue;
}

div.ingredient-database {
    height: 300px;
    overflow: auto;
}

span.water {
    display: inline-block;
    padding-left: 20px;
    padding-right: 5px;
    background: url("img/icon-water.png") no-repeat;
}
