<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Brew it yourself!</title>
        
        <!-- build:css styles/styles.min.css -->
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/structure.css">
        <link rel="stylesheet" href="styles/tree.css">
        <link rel="stylesheet" href="styles/ingredient-item.css">
        <!-- endbuild -->
        
        
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
        <link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.css" />
        <!-- endbower -->
        <!-- endbuild -->
        
    </head>
    <body>
        <div class="app-frame">
            <div class="main-frame" ng-app="BrewItYourself">
                <div class="main-title">Brew it yourself</div>
                <div class="main-menu" ng-controller="MenuCtrl">
                    <ul>
                        <li class="trash-icon" ng-click="triggerAction('trash')">Trash</li>
                        <li class="clone-icon" ng-click="triggerAction('clone')">Clone</li>
                        <li class="new-icon" ng-click="triggerAction('new')">New</li>
                        <li class="open-icon" ng-click="triggerAction('open')">Open</li>
                        <li class="save-icon" ng-click="triggerAction('save')">Save</li>
                    </ul>
                </div>
                <div class="view-container" ng-view="">
                </div>
            </div>
        </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/ng-sortable/dist/ng-sortable.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/Brew-it-yourself.min.js -->    
    <script type="text/javascript" src="scripts/app.js"> </script>
    <script type="text/javascript" src="scripts/controllers/editorCtrl.js"> </script>
    <script type="text/javascript" src="scripts/controllers/menuCtrl.js"> </script>
    <script type="text/javascript" src="scripts/controllers/modalRecipeOpenCtrl.js"> </script>
    <script type="text/javascript" src="scripts/controllers/modalIngredientPickCtrl.js"> </script>
    <script type="text/javascript" src="scripts/services/messageService.js"> </script>
    <script type="text/javascript" src="scripts/services/storageService.js"> </script>
    <script type="text/javascript" src="scripts/services/ingredientProvider.js"> </script>
    <script type="text/javascript" src="scripts/services/utilFactory.js"> </script>
    <script type="text/javascript" src="scripts/services/recipeProvider.js"> </script>
    <script type="text/javascript" src="scripts/directives/treeView.js"> </script>
    <script type="text/javascript" src="scripts/directives/ingredientItem.js"> </script>
    <!-- endbuild -->
    </body>
</html>