<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Brew it yourself!</title>
        
        <!-- build:css styles/styles.min.css -->
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/structure.css">
        <link rel="stylesheet" href="styles/messages.css">
        <link rel="stylesheet" href="styles/tree.css">
        <link rel="stylesheet" href="styles/steps.css">
        <link rel="stylesheet" href="styles/print.css">
        <!-- endbuild -->
        
        <!-- build:css(./build) styles/compiled.min.css -->
        <link rel="stylesheet" href="styles/messages.css">
        <link rel="stylesheet" href="styles/steps.css">
        <link rel="stylesheet" href="styles/ingredient-item.css">
        <link rel="stylesheet" href="styles/tuto.css">
        <!-- endbuild -->
        
        
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
        <link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.css" />
        <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
        <!-- endbower -->
        <!-- endbuild -->
        
    </head>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none;
        }
    </style>
    <body>
        <div class="app-frame">
            <div class="main-frame" ng-app="BrewItYourself">
                <div class="main-title">Brew it yourself</div>
                <div class="main-menu" ng-controller="MenuCtrl">
                    <div class="lang">
                        <span class="en clickable" ng-click="changeLang('en')"></span><span class="fr clickable" ng-click="changeLang('fr')"></span>
                    </div>
                    <ul ng-hide="printing" class="ng-cloak">
                        <li class="toolbox-icon" ng-click="triggerAction('tools')">{{'Tools' | translate}}</li>
                        <li class="trash-icon" ng-click="triggerAction('trash')">{{'Trash' | translate}}</li>
                        <li class="clone-icon" ng-click="triggerAction('clone')">{{'Clone' | translate}}</li>
                        <li class="new-icon" ng-click="triggerAction('new')">{{'New' | translate}}</li>
                        <li class="open-icon" ng-click="triggerAction('open')">{{'Open' | translate}}</li>
                        <li class="save-icon" ng-click="triggerAction('save')">{{'Save' | translate}}</li>
                        <li class="export-icon" ng-click="triggerAction('export')">{{'Export' | translate}}</li>
                        <li class="print-icon" ng-click="togglePrint()">{{'Print' | translate}}</li>
                    </ul>
                    <ul ng-show="printing" class="ng-cloak">
                        <li class="edit-icon" ng-click="togglePrint()">{{'Edition' | translate}}</li>
                    </ul>
                </div>
                <div class="messages" ng-controller="MessageCtrl">
                    <div ng-repeat="msg in messages" class="alert alert-{{msg.type}} animated clickable" role="alert" ng-click="destroy(msg.uid)" class="ng-cloak">{{msg.message || translate}}</div>
                </div>
                <div class="view-container" ng-view="">
                </div>
                <div ng-controller="ToolsCtrl">
                </div>
            </div>
        </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/ng-sortable/dist/ng-sortable.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/Brew-it-yourself.min.js -->    
    <script type="text/javascript" src="scripts/app.js"> </script>
    <script type="text/javascript" src="scripts/controllers/editorCtrl.js"> </script>
    <script type="text/javascript" src="scripts/controllers/menuCtrl.js"> </script>
    <script type="text/javascript" src="scripts/controllers/modalRecipeOpenCtrl.js"> </script>
    <script type="text/javascript" src="scripts/controllers/modalIngredientPickCtrl.js"> </script>
    <script type="text/javascript" src="scripts/controllers/modalToolboxCtrl.js"> </script>
    <script type="text/javascript" src="scripts/controllers/modalExportCtrl.js"> </script>
    <script type="text/javascript" src="scripts/controllers/toolsCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/messageCtrl.js"></script>
    <script type="text/javascript" src="scripts/services/unitsConversionService.js"></script>
    <script type="text/javascript" src="scripts/services/messageService.js"> </script>
    <script type="text/javascript" src="scripts/services/storageService.js"> </script>
    <script type="text/javascript" src="scripts/services/ingredientService.js"> </script>
    <script type="text/javascript" src="scripts/services/recipeService.js"> </script>
    <script type="text/javascript" src="scripts/filters/ucfirstFilter.js"></script>
    <script type="text/javascript" src="scripts/filters/leadingzeroFilter.js"></script>
    <script type="text/javascript" src="scripts/filters/lastingFilter.js"></script>
    <script type="text/javascript" src="scripts/directives/treeView.js"> </script>
    <script type="text/javascript" src="scripts/directives/ingredientItem.js"> </script>
    <script type="text/javascript" src="scripts/directives/lastingEditable.js"> </script>
    <script type="text/javascript" src="scripts/directives/tutorial.js"> </script>
    <!-- endbuild -->
    </body>
</html>