<div class="editor" ng-hide="printing">
    <div class="section">
        <div class="subsection">{{'Recipe' | translate}}</div>
        <div class="recipe-header">
            <!--<span class="save-button" ng-click="save()" title="Save this recipe"></span>
            <span class="open-file-button" ng-click="open()" title="Open recipe"></span>
            <span class="new-button" ng-click="newRecipe()" title="New recipe"></span>
            <span class="clone-button" ng-click="cloneRecipe()" title="Clone recipe"></span>
            <span class="delete-button" ng-click="deleteRecipe()" title="Delete recipe"></span>-->
            <ul>
                <li>{{'Name' | translate }}: <a href="#" editable-text="recipe.name">{{ recipe.name || "No name" }}</a></li>
                <li>{{'Author' | translate }}: <a href="#" editable-text="recipe.author">{{ recipe.author || "No name" }}</a></li>
                <li>{{'Date' | translate }}: <a href="#" editable-date="recipe.date">{{ recipe.date | date : "dd/MM/yyyy" }}</a></li>
            </ul>
            <span class="computed">{{'Computed' | translate}}:</span>
            <ul>
                <li><span class="water libelized">{{'Mashing volume' | translate}}:</span><span class="badge">{{getMashingVolume() | number:1}} L</span></li>
                <li><span class="water libelized">{{'Rinsing volume' | translate}}:</span><span class="badge">{{getRinsingWater() | number:1}} L</span></li>
                <li><span class="water libelized">{{'Final volume' | translate}}:</span><span class="badge">{{getFinalVolume()  | number:1}} L</span></li>
                <li><span class="gravity libelized">{{'Initial gravity' | translate}}:</span><span class="badge">{{getInitialGravity() | number:3}}</span></li>
                <li><span class="hops libelized">{{'IBU' | translate}}:</span><span class="badge">{{getIbu() | number:0}}</span></li>
                <li><span class="drink libelized">{{'Alcohol' | translate}}:</span><span class="badge">{{getAlcohol() | number:1}} %Vol</span></li>
                <li><span class="drink libelized">{{'Color' | translate}} (srm):</span><span class="beer-color" style="background: {{estimateSRM().color}}" title="{{'Beer color' | translate}}">{{estimateSRM().srm | number:1}}</span></li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="subsection">{{'Steps' | translate}}</div>
        <div class="step-list">
            <ul class="step-list" as-sortable="stepSortOptions" ng-model="recipe.steps">
                <li ng-repeat="step in recipe.steps" as-sortable-item ng-class="{sorting: step['$moving']}">
                    <div class="step" as-sortable-item-handle>
                        <div class="title" >
                            <a href="#" editable-text="step.name" title="{{'Name' | translate}}">{{ step.name || "No name" }}</a>
                            <span class="close-button" ng-click="deleteStep(step)" title="{{'Delete' | translate}}"></span>
                            <span ng-class="{'reduce-button':!(step.$reduced), 'expand-button':step.reduced}" ng-click="toggleStep(step)" title="{{'Reduce' | translate}}"></span>
                        </div>
                        <div class="detail" ng-hide="step.reduced">
                            <div class="lasting">
                                <label>{{'Lasting' | translate}}:</label> 
                                <a href="#" editable-number="step.lasting.days" title="{{'Days' | translate}}">{{ step.lasting.days }} {{ 'day(s)' | translate }}</a>
                                -
                                <a href="#" editable-number="step.lasting.hours" title="{{'Hours' | translate}}">{{ step.lasting.hours }} {{ 'hour(s)' | translate }}</a>
                                -
                                <a href="#" editable-number="step.lasting.minutes" title="{{'Minutes' | translate}}">{{ step.lasting.minutes }} {{ 'minute(s)' | translate }}</a>
                            </div>
                            <div class="temperature">
                                <label>{{'Temperature' | translate}}:</label>
                                <a href="#" editable-number="step.temperature" title="{{'Temperature' | translate}}">{{ step.temperature }} °C</a>
                            </div>
                            <div class="ingredients">
                                <label>{{'Ingredients' | translate}}:</label>
                                <div>
                                    <ul class="ingredient-item-list">
                                        <li ng-repeat="ingredient in step.ingredients" class="ingredient-item">
                                            <span ingredient-item="ingredient"></span>
                                            <span class="suppr-button" ng-click="deleteIngredient(step, ingredient)" title="{{'Delete' | translate}}">
                                        </li>
                                        <li class="dummy" ng-class="{'selecting-ingredient': step.$ingredientSelection}" ng-click="insertIngredient(step)">{{step.$ingredientSelection ? "" : ("New ingredient" | translate)}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="dummy-step" ng-click="pushStep()">
                {{'New step' | translate}}
            </div>
        </div>
    </div>
</div>
<div class="print" ng-show="printing">
    <h1>{{recipe.name}}</h1>
    <span class="author">{{recipe.author}}</span>
    <span class="date">- {{recipe.date | date : "dd/MM/yyyy" }} -</span>
    <div class="recipe">
        <div class="container">
            <ul class="features">
                <li><span class="water libelized">{{'Mashing volume' | translate}}:</span><span >{{getMashingVolume() | number:1}} L</span></li>
                <li><span class="water libelized">{{'Rinsing volume' | translate}}:</span><span >{{getRinsingWater() | number:1}} L</span></li>
                <li><span class="water libelized">{{'Final volume' | translate}}:</span><span >{{getFinalVolume()  | number:1}} L</span></li>
                <li><span class="gravity libelized">{{'Initial gravity' | translate}}:</span><span >{{getInitialGravity() | number:3}}</span></li>
                <li><span class="hops libelized">{{'IBU' | translate}}:</span><span >{{getIbu() | number:0}}</span></li>
                <li><span class="drink libelized">{{'Alcohol' | translate}}:</span><span >{{getAlcohol() | number:1}} %Vol</span></li>
                <li><span class="drink libelized">{{'Color' | translate}} (srm):</span><span class="beer-color" style="background: {{estimateSRM().color}}" title="Beer color">{{estimateSRM().srm | number:1}}</span></li>
            </ul>
            <div class="step" ng-repeat="step in recipe.steps">
                <div class="title">
                    <span class="name">{{$index}} - {{step.name}}</span>
                    <span class="temperature">{{step.temperature | number:0}} °c</span>
                    <span class="time">
                        <i class="glyphicon glyphicon-time"></i>
                        <span ng-show="step.lasting.days">{{step.lasting.days}} {{'day(s)' | translate}}</span>
                        <span ng-show="step.lasting.hours || step.lasting.minutes">{{step.lasting.hours | leadingzero:2}}:{{step.lasting.minutes | leadingzero:2}}</span>
                    </span>
                </div>
                <ul class="ingredients">
                    <li ng-repeat="ingredient in step.ingredients">
                        <i class="{{ingredient.type}}-icon"></i>
                        <span class="quantity">
                            <span>{{ingredient.qty.value}}</span>
                            <span>{{ingredient.qty.unit.name}}</span>
                        </span>
                        <span>{{ingredient.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div tutorial="{{tutorialStep}}" tutorial-end="endOfTutorial()" tutorial-step="stepTutorial(ID)"></div>